html,
body,
#root {
  width: 100vw;
  height: 100svh;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mobile-only {
  display: none;
}

@media (max-width: 963px) and (max-height: 480px) and (orientation: landscape) and (pointer: coarse) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

@media (max-width: 480px) and (max-height: 963px) and (orientation: portrait) and (pointer: coarse) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}