.screen {
    width: 800px;
    height: 420px;
    overflow: hidden;
    position: absolute;
    z-index: 0 !important;
    user-select: none;

}

.screen-iframe {
    display: block;
    border: 0;
    transform: none;
    z-index: 0 !important;

    width: 1600px;
    height: 840px;
    border: none;

    position: absolute;
    top: -426px;
    left: -802px;

    transform: scale(0.5);

    -webkit-font-smoothing: antialiased;
}