.screen {
    /* width: 800px;
    height: 800px; */
    overflow: hidden;
    position: absolute;
    z-index: 0 !important;
    user-select: none;

}

.screen-iframe {
    display: block;
    border: 0;
    transform: none;
    position: absolute;
    z-index: 0 !important;

    /* Step A: Force it to think it is open on a desktop laptop */
    width: 1600px;
    height: 840px;
    border: none;

    /* Step B: Position it in the top left corner of the screen wrapper */
    position: absolute;
    top: -426px;
    left: -802px;

    /* Step C: Scale down by exactly half (0.5) because 640px / 1280px = 0.5 */
    transform: scale(0.5);
    /* Optional: Smooth out text rendering after downscaling */
    -webkit-font-smoothing: antialiased;
}